
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Alegreya:400,900);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

h1 {
  font-family: 'Alegreya', serif;
  font-weight: bold
}

h2 {
  font-size: 15px;
  margin: 20px 0 5px 0;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#oput {
  font-family: 'PT Mono';
  font-size: 18px
}

.hide {
  display: none;
}
